<div class="container" ng-controller="homeCtrl">


</div>

<div class="container">
  <div class="row" style="background-color:white;margin-top:10px" align="center">
    <div class="col-md-4" style="align:right"><a href="">Home</a></div>
    <div class="col-md-4" style="align:center"><a href="profile.html">Profile</a></div>
    <div class="col-md-4" style="align:left"><a href="#">Logout</a></div>




  </div>


  <div class="row">

    <div class="col-md-12" align="center">
      <div class="sign col-md-8">
        <hr>
        <form ng-submit="post()">
          <textarea class="form-control" ng-model="post" type="text"
            placeholder="Anything in your mind?"></textarea><br />
          <button class="form-control btn btn-primary" type="submit">Post</button>
          <hr>
        </form>


      </div>

      <div class=" col-md-8" align="left">
        <hr>
        <p style="font-weight:bold">name</p>
        <p>update</p>
        <hr>
        <p style="font-weight:bold">Comments</p>
        <p>name : comment 1</p>
        <form>
          <input type="text" placeholder="Comment" />
          <button class="btn btn-primary">Comment</button>

      </div>


    </div>
  </div>
</div>