<div ng-controller="loginCtrl" class="container">
  <div class="row">
    <div class="col-md-12" align="center">
      <div class="sign col-md-4">
        <br />
        <h5 style="opacity:0.5">Sign In</h5>
        <hr>
        <form ng-submit="signin()">
          <input class="form-control" ng-model="socialusername" type="text" placeholder="username" name="userName"
            required /><br />
          <input class="form-control" ng-model="socialpass" type="password" placeholder="Enter Password" name="userPass"
            required /><br />


          <button class="form-control btn btn-primary" type="submit">Sign In</button>
          <hr>
        </form>
        <p ng-bind="unmatched"></p>
      </div>
    </div>
  </div>
</div>